@import url(../../styles/globalVar.css);
@import url(../../styles/main.css);

.alert-container {
  gap: 1rem;
  margin: 1rem 0;
}

.alert {
  padding: 0.8rem;
  border-radius: 0.2rem;
  width: 75%;
}

.alert-success {
  background-color: var(--success-bg-100);
  color: var(--success-text-500);
}

.alert-info {
  background-color: var(--info-bg-100);
  color: var(--info-text-500);
}

.alert-warning {
  background-color: var(--warning-bg-100);
  color: var(--warning-text-500);
}

.alert-error {
  background-color: var(--error-bg-100);
  color: var(--error-text-500);
}
