<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- SEO -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cherry UI</title>
    <meta
      name="description"
      content="A Component Library that has everything you need to build a website."
    />
    <meta name="author" content="Charanaraj N" />

    <!-- Helps to pin the page -->
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Social media card -->
    <meta property="og:title" content="Cherry UI" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="CherryUI-logo.png" />
    <meta property="og:url" content="https://cherryui.netlify.app/" />
    <meta
      property="og:description"
      content="A Component Library that has everything you need to build a website."
    />
    <meta property="og:locale" content="en_IN" />
    <meta property="og:site_name" content="Cherry UI" />

    <!-- Linking stylesheet file -->
    <link rel="stylesheet" href="./alerts.css" />

    <!-- fontawesome icons -->
    <script
      src="https://kit.fontawesome.com/d4d370ae5e.js"
      crossorigin="anonymous"
    ></script>

    <!-- favicons -->
    <link
      rel="apple-touch-icon"
      href="../assets/apple-icon-180x180.png"
      sizes="180x180"
    />
    <link
      rel="shortcut icon"
      href="../assets/favicon-32x32.png"
      type="image/x-icon"
      sizes="32x32"
    />
    <link
      rel="shortcut icon"
      href="../assets/favicon-16x16.png"
      type="image/x-icon"
      sizes="16x16"
    />
    <link rel="manifest" href="./assets/manifest.json" />
  </head>
  <body>
    <header class="header-container">
      <div class="wrapper header-items flex-row-center">
        <a href="../../index.html">
          <div class="flex-column-center">
            <div class="brand-name"><span class="title">Cherry</span> UI</div>
            <p class="brand-text">A Component Library</p>
          </div>
        </a>
        <div class="header-social-links flex-row-center">
          <div>
            <a
              href="https://github.com/ncharanaraj"
              target="_blank"
              rel="noreferrer"
              aria-label="github"
            >
              <i
                class="fa fa-github header-social-icon fa-lg"
                aria-hidden="true"
              ></i>
            </a>
          </div>
          <div>
            <a
              href="https://www.linkedin.com/in/ncharanaraj/"
              target="_blank"
              rel="noreferrer"
              aria-label="linkedin"
            >
              <i
                class="fa fa-linkedin header-social-icon fa-lg"
                aria-hidden="true"
              ></i>
            </a>
          </div>
          <div>
            <a
              href="https://twitter.com/ncharanaraj"
              target="_blank"
              rel="noreferrer"
              aria-label="twitter"
            >
              <i
                class="fa fa-twitter header-social-icon fa-lg"
                aria-hidden="true"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class="wrapper sidebar-and-content">
      <aside class="sidebar">
        <ul>
          <li class="sidebar-content">
            <a href="../../document/content.html">Insatallation</a>
          </li>
          <h2 class="sidebar-heading heading2">Components</h2>
          <li class="sidebar-content active">
            <a href="./alerts.html">Alerts</a>
          </li>
        </ul>
      </aside>
      <main class="content-container">
        <div class="content-wrapper">
          <h1 class="heading3 mb">Alerts</h1>
          <p class="content-description">
            An alert give a short, important message in a way that attracts the
            user's attention without interrupting the user's task.
          </p>
        </div>
        <div class="content-wrapper">
          <h4 class="heading4 mb">Default Alerts</h4>
          <p class="content-description">
            Default Alerts are available in 4 variants success alert, info
            alert, warning alert, error alert. To use this alert in your code,
            just include classname <span class="keyword">alert</span>. And also
            as per the requirement you can also add
            <span class="keyword">alert-success</span>,
            <span class="keyword">alert-info</span>,
            <span class="keyword">alert-warning</span>,
            <span class="keyword">alert-error</span> as classnames. You can copy
            the html code from below code snippet.
          </p>
          <div class="display-component">
            <div class="alert-container flex-column-center">
              <div class="alert alert-success">
                <i class="fa-solid fa-circle-check"></i>
                This is the success alert. Check this out!
              </div>
              <div class="alert alert-info">
                <i class="fa-solid fa-circle-info"></i>
                This is the info alert. Check this out!
              </div>
              <div class="alert alert-warning">
                <i class="fa-solid fa-triangle-exclamation"></i>
                This is the warning alert. Check this out!
              </div>
              <div class="alert alert-error">
                <i class="fa-solid fa-circle-exclamation"></i>
                This is the error alert. Check this out!
              </div>
            </div>
          </div>
          <script src="https://emgithub.com/embed-v2.js?target=https%3A%2F%2Fgithub.com%2Fncharanaraj%2Fcherry-ui%2Fblob%2Fmain%2Fembed%2Fembed.html%23L15-L30&style=default&type=code&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
        </div>
        <div class="content-wrapper"></div>
      </main>
    </div>
    <footer class="flex-column-center">
      <div class="wrapper align-center">
        <p class="footer-text">Made with ❣️ by Charanaraj N</p>
        <p class="footer-text">© 2023 | Cherry UI</p>
      </div>
    </footer>
  </body>
  <script src="alerts.js"></script>
</html>
